body {
    background-color: $light-grey;
    min-height: 100vh;
    min-width: 100vw;

    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: 10em;

    &.loading {
        background: url('/images/spinner.svg') center no-repeat;

        &>* {
            display: none;
        }
    }
}