.logo {
    color: $logo-fg;
    font-weight: 300;

    &:before {
        content: '';
        background: url(/images/logo.svg) no-repeat center;
        height: 1em;
        width: 1em;
        display: inline-block;
    }
}

.city-card {
    display: block;
    margin-bottom: 1em;
    width: 100%;

    &.loading {
        background-image: url(/images/spinner.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5%;
    }

    .weather-icon,
    .weather-info {
        display: inline-block;
        height: 8em;
    }

    .weather-icon {
        background-color: #ececec;
        width: 8em;
        margin-right: 0.5em;
        background-position: center;
        background-repeat: no-repeat;

    }

    .weather-info {
        padding: 0.7em 0 0.5em;
        width: calc(100% - 9em);
        vertical-align: top;
    }
}

.upcoming-forecast {
    width: 100%;
    padding: 0;
    margin: -0.5em 0 0 0;

    .hour {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        width: 20%;
        background-color: #ececec;
        position: relative;

        .hour-title,
        .weather-icon,
        .hour-info {
            position: relative;
            z-index: 1;
        }

        .hour-title {
            padding: 0.3em 0 0 0.3em;
            opacity: 0.5;
        }

        .weather-icon {
            height: 3em;
            width: 3em;
            background-color: transparent;
        }

        .hour-info {
            display: inline-block;
            height: 3em;
            vertical-align: middle;
        }

        .hour-barchart {
            background-color: $light-grey;
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 0;
            opacity: 0.5;
        }
    }
}