// Base colours
$white:         white;
$light-grey:    #7b878c;
$mid-grey:      #696057;
$dark-grey:     #25282b;
$cream:         #f3ddb3;
$brown:         #643b2c;

// Palette values
$body: $light-grey;

$logo-fg: $white;
