<!doctype html>
<html lang="en" ng-app="weatherr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weatherr</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i" rel="stylesheet">

    <link rel="stylesheet" href="third-party/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    
    </head>
    <body>
        <div id="container" class="container loading" ng-controller="MainCtrl as ctrl">
            <div class="row">
                <h1 class="logo">{{ ctrl.name }}</h1>
            </div>
            <div class="row" ng-repeat="city in ctrl.cities" ng-click="city.active = !city.active">
                <div class="card city-card" ng-class="{ 'loading': city.loading }">
                    <i class="weather-icon" title="{{ city.description }}" style="opacity: {{ city.loading ? 0 : 1 }}; background-image: url({{ city.iconUrl }})">
                        <span class="d-none">{{ city.description }}</span>
                    </i>
                    <div class="weather-info" style="opacity: {{ city.loading ? 0 : 1 }}">
                        <h4 class="city-name">{{ city.name }}</h4>
                        <h5 class="city-temp">{{ city.temperature }}&deg; <sup>({{ city.tempMin }}&deg; - {{ city.tempMax }}&deg;)</sup></small></h5>
                        <h5 class="city-windspeed">{{ city.windSpeed }}MPH <sup ng-show="city.windDirection">({{ city.windDirection }})</sup></h5>
                    </div>

                    <ul class="upcoming-forecast" ng-show="city.active">
                        <li class="hour hour-{{ $index }}" ng-repeat="hour in city.hours">
                            <h6 class="hour-title">{{ hour.title }}</h6>
                            <div class="weather-icon" style="background-image: url({{ hour.icon }});"></div>
                            <div class="hour-info">
                                <h6 class="hour-temperature">{{ hour.temperature }}&deg;</h6>
                                <p>{{ hour.description }}</p>
                            </div>
                            <div class="hour-barchart" style="height: {{ hour.chartheight }}%"></div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <script src="third-party/bootstrap.min.js"></script>
        <script src="third-party/angular.min.js"></script>
        <script src="js/main.js"></script>

        <script>
            window.addEventListener('DOMContentLoaded', function() {
                document.getElementById('container').classList.remove('loading');
            });
        </script>
    </body>
</html>